---
import BadgeHabilities from "../components/BadgeHabilities.astro";

interface Props {
    role: string;
    duration: string;     
    responsabilities: string;
    skillsUsed: string[]; // Cambiado a array de strings
}

const { role, duration, responsabilities, skillsUsed } = Astro.props;
---

<div class=" cursor-pointer mb-4">
    <section class="w-full max-w-3xl mx-auto hover:bg-slate-500/20 transition-all px-8 py-6 rounded-xl flex justify-between">
        <div class="w-1/3 px-4">
            <span class="text-white/60" >
                {duration}
            </span>
        </div>
        <div class="w-2/3">
            <h3 class="mb-4 font-semibold">{role}</h3>
            <p class="text-pretty text-white/60 mb-4">  
                {responsabilities.split('\n').map((line, index) => (
                    <>
                        {line}
                        <br />
                    </>
              ))}</p>
            <div class="flex">
                {skillsUsed.map((skill) => (
                    <BadgeHabilities>{skill}</BadgeHabilities>
                ))}
            </div>
        </div>
    </section>
</div>
