---
import Javascript from "../icons/Javascript.astro";
import AstroIcon from '../icons/AstroIcon.astro'
import React from '../icons/React.astro'
import Node from '../icons/Node.astro'
import Html from '../icons/Html.astro'
import Css from '../icons/Css.astro'
import Tailwind from '../icons/Tailwind.astro'
import Bootstrap from '../icons/Bootstrap.astro'
import PostgreSql from '../icons/PostgreSql.astro'
import Github from "../icons/Github.astro";
---

<section class="flex flex-col gap-y-4 ">
    <h3 class="text-xl font-semibold text-red-400/70 px-4">
        Habilidades
    </h3>
    
        <div class="opacity-50 flex items-center px-4 gap-x-2 flex-wrap">
            <Javascript />
            <AstroIcon />
            <React />
            <Node />
            <Html />
            <Css />
            <Tailwind />
            <Bootstrap />
            <PostgreSql />
            <Github />
        </div>
</section>
