---
import Javascript from "../icons/Javascript.astro";
import AstroIcon from '../icons/AstroIcon.astro'
import React from '../icons/React.astro'
import Node from '../icons/Node.astro'
import Html from '../icons/Html.astro'
import Css from '../icons/Css.astro'
import Tailwind from '../icons/Tailwind.astro'
import Bootstrap from '../icons/Bootstrap.astro'
import PostgreSql from '../icons/PostgreSql.astro'
import Github from "../icons/Github.astro";
import NestJsIcon from "../icons/NestJsIcon.astro";
import ExpoIcon from "../icons/ExpoIcon.astro";
import MongoIcon from "../icons/mongoIcon.astro";
import TypescriptIcon from "../icons/TypescriptIcon.astro";
import Expressjs from "../icons/Expressjs.astro";
---

<section class="flex flex-col gap-y-4">
    <h3 class="text-xl font-semibold text-red-400/70 px-4">
        Habilidades
    </h3>
    
        <div class="opacity-50 flex items-center gap-2 flex-wrap">
            <Javascript />
            <TypescriptIcon />
            <AstroIcon />
            <React />
            <ExpoIcon />
            <Node />
            <Expressjs />
            <Html />
            <Css />
            <Tailwind />
            <Bootstrap />
            <PostgreSql />
            <MongoIcon />
            <Github />
            <NestJsIcon />
        </div>
</section>
