<header class="flex justify-between items-center py-3 px-8 w-full max-w-6xl text-white">
    <!-- Logo o título aquí -->
   
  
    <!-- Menú de navegación -->
    <nav class="md:flex gap-x-6 hidden md:flex-col">
      <ul class="flex flex-col gap-y-8 text-lg font-semibold">
        <li class="">
            <a href="#" >
                <div class="flex items-center gap-4 group hover:text-blue-400">
                    <div class="w-10 border h-0 group-hover:w-20 transition-all group-hover:border-blue-400"></div>
                    <span  class=" transition duration-200">Inicio</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="#experience">
                <div class="flex items-center gap-4 group hover:text-blue-400">
                    <div class="w-10 border h-0 group-hover:w-20 transition-all group-hover:border-blue-400"></div>
                    <span  class=" transition duration-200">Experiencia</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="#projects">
                <div class="flex items-center gap-4 group hover:text-blue-400">
                    <div class="w-10 border h-0 group-hover:w-20 transition-all group-hover:border-blue-400"></div>
                    <span  class=" transition duration-200">Proyectos</span>
                </div>
            </a>
        </li>
      </ul>
    </nav>
  </header>
  
  