<nav class="hidden lg:flex flex-col gap-y-1 mt-2">
  <a href="#inicio" data-nav-link class="nav-link group py-2 text-sm font-medium">
    <span class="nav-line"></span>
    <span>Sobre mí</span>
  </a>
  <a href="#projects" data-nav-link class="nav-link group py-2 text-sm font-medium">
    <span class="nav-line"></span>
    <span>Proyectos</span>
  </a>
  <a href="#experience" data-nav-link class="nav-link group py-2 text-sm font-medium">
    <span class="nav-line"></span>
    <span>Experiencia</span>
  </a>
</nav>
  